<div class="container">
  <h3 class="center-align">Registrar Servicios</h3>
  <form [formGroup]="fgValidacion" class="col s12" (ngSubmit)="store()">
    <div class="row">
      <div class="input-field col s6">
        <select class="browser-default" formControlName="origen" >
          <option value="" disabled selected>Seleccione el cliente origen</option>
          <option *ngFor="let cliente of listadoClientes" value="{{cliente.nombre}} - {{cliente.apellidos}}">{{cliente.nombre}} - {{cliente.apellidos}}</option>
        </select>
      </div>
      <div class="input-field col s6">
        <select class="browser-default" formControlName="destino" >
          <option value="" disabled selected>Seleccione el cliente destino</option>
          <option *ngFor="let cliente of listadoClientes" value="{{cliente.nombre}} - {{cliente.apellidos}}">{{cliente.nombre}} - {{cliente.apellidos}}</option>
        </select>
      </div>
    </div>
    <h6 class="center-align">Fecha y Hora</h6>
    <div class="row">
      
      <div class="input-field col s6">
        <input formControlName="fechaHora" type="datetime-local" class="validate" />
        <label for="fechaHora"></label>
      </div>
      <!--<div class="input-field col s6">
        <input formControlName="hora" type="text" class="validate" />
        <label for="hora">Hora</label>
      </div>-->
    </div>
    <div class="row">
      <div class="input-field col s6">
        <select class="browser-default" formControlName="encomienda" >
          <option value="" disabled selected>Seleccione la encomienda</option>
          <option *ngFor="let encomienda of listadoEncomiendas" value="{{encomienda.descripcion}}">{{encomienda.descripcion}}</option>
        </select>
      </div>
      <div class="input-field col s6">
        <input formControlName="valor" type="number" class="validate" />
        <label for="valor">Valor</label>
      </div>
    </div>
    <div class="row center-align">
      <button
        [disabled]="!fgValidacion.valid"
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
      >
        Enviar
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>