<footer class="page-footer blue accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MisionTIC</h5>
          <p class="grey-text text-lighten-4">Equipo 4 - Grupo 65</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Miembros de equipo</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">ZAPATA FORERO JUAN MANUEL</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">FUENTES VELASCO LUIS ENRIQUE</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">GAMBA LARA DIEGO</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">GOMEZ GONZALEZ LUISA FERNANDA</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">JAVIER RODRIGUEZ MARULANDA</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">TAFUR RAMIREZ CARLOS ALBERTO</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>