<footer class="page-footer grey darken-3">
  <div class="footer-dark">
    <div class="row">
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">MisionTIC</h5>
        <p class="grey-text text-lighten-4">Equipo 4 - Grupo 65</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Miembros de equipo</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/juanchoz24">ZAPATA FORERO JUAN MANUEL</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/luisfuentes238">FUENTES VELASCO LUIS ENRIQUE</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/DiegoGambaLara">GAMBA LARA DIEGO</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/Fernandagogo">GOMEZ GONZALEZ LUISA FERNANDA</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">JAVIER RODRIGUEZ MARULANDA</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/carta87">TAFUR RAMIREZ CARLOS ALBERTO</a></li>
        </ul>
       
      </div>  
  </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2022 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
