<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>404 Error Page | CodingNepal</title>
      <link rel="stylesheet" href="error.component.css">
   </head>
   <body>
      <div id="error-page">
         <div class="content">
            <h2 class="header" data-text="404">
               404
            </h2>
            <h4 data-text="Opps! Page not found">
               Opps! Pagina no encontrada
            </h4>
            <p>
               Lo sentimos, la pagina que está buscando no existe.
            </p>
            <div class="btns">
               <a href="/index">REGRESAR</a>
            </div>
         </div>
      </div>
   </body>
</html>
